:root {
    --primary-color: #0ea5e9;
    --primary-color-dark: #0284c7;
    --text-primary: #1f2937;
    --text-secondary: #6b7280;
    --border-color: #e5e7eb;
    --input-background: #f3f4f6;

    --primary-hover: #0284c7;
    --secondary-color: #343a40;
    --light-gray: #f8f9fa;
    --text-color: #333;
    --white-color: #fff;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    --error-color: #d32f2f;
    --success-color: #388e3c;
}